.summariesContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--main-color);
    height: 100%;
    margin: 20px;
    margin-top: 60px;
    margin-right: 40px;
    border-radius: 15px;
    gap:40px;
   
    
}

// only added this to allow the top one to grow to full length
.outerContainer {
    height: 100%;
    
}

.catfreqChartContainer {
    padding: 30px;
    padding-left: 0px;
    padding-right: 0px;
    border-radius: 25px;
    background-color: var(--border-color);
    width:100%;
    box-shadow: 0px 0px 5px 5px var( --shadow-color);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.catfreqChartContainer:hover {
  transform: translateY(-4px) scale(1.01);
  //box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.25);
}

.title {
    padding: 40px;
    padding-top: 0px;
    padding-bottom: 30px;
    margin-right: 0px;
    font-size: 3rem; 
    width:100%;
    color:black;
   // font-family: "Nunito";
    
}

.catfreqChart {
    padding-right: 40px;
    position: relative;
    
    
}

.catFreqRank {
  position: absolute;
  top: 0;
  right: 30px;

  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  gap: 12px;

  padding: 15px 50px;
  border-radius: 500px;

  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(6px);
  //width:300px;

  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.15);
}

// mdeal + number
.rankBadge {
  width: 34px;
  height: 34px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: 1rem;
  color: white;
}


.rank1 {
  background: linear-gradient(135deg, #facc15, #eab308);
}


.rank2 {
  background: linear-gradient(135deg, #e5e7eb, #9ca3af);
  color: #1f2937;
}


.rank3 {
  background: linear-gradient(135deg, #f97316, #b45309);
}


.rankLabel {
  font-family: "Inter";
  font-size: 1.5rem;
  font-weight: 400;
  color: #1f2937;
}

// for an individual item
.rankBox {
    display: flex;
    align-items: center;
    gap: 12px; // spacing between items inside container (only works for flex)
   
}