:root {
    --main-h: 264;
    --main-s: 81%;
    --main-l: 83%;

    --main-color: hsl(var(--main-h) var(--main-s) var(--main-l));
    --border-color: hsl(var(--main-h) var(--main-s) 90%);
    --shadow-color: hsl(var(--main-h) var(--main-s) calc(var(--main-l) - 25%));
    --shadow-color-2: hsl(var(--main-h) var(--main-s) calc(var(--main-l) - 10%));


    --main-color-bar-1: hsl(var(--main-h) var(--main-s) 30%);
    --main-color-bar-2: hsl(var(--main-h) var(--main-s) 40%);
    --main-color-bar-3: hsl(var(--main-h) var(--main-s) 50%);
    --main-color-bar-4: hsl(var(--main-h) var(--main-s) 60%);
    --main-color-bar-5: hsl(var(--main-h) var(--main-s) 70%);

    --lavender: #CEB2F7;
    --pink:     #fcc7f4;
    --pink2:     #fdbaf3;
    --pink3:     #fba5ee;
    --pink4:     #f879e5;
    --pink5:     #ffc1e7;
    --lilac:    #b578f7;
    --brightpurple:    #b92bf6;
    --darkpink: rgb(255, 0, 238);
    --brightpink: rgb(255, 130, 247);
    --magenta:  #D338E4;
    --outline:  #460B64;
    --outline2: #721383;
    --outline3: #af3dc3;
    --darkpurple: #9746dd;
    --outline4: #a10752;
    --white:    #FDFDFD;
    --shadow:    #a68197;
}

// get rid of automatic white border
html, body {
  margin: 0;
  padding: 0;
  cursor: url("/assets/Hand3.png") 16 16, auto;
}

* {
  cursor: url("/assets/Hand3.png") 16 16, auto;
}

