.dashboardLayout {
    display: flex;
    width:100%;
    flex-direction: column;
   

}

.gridContainer {
    display: grid;
    flex-grow: 1;
    grid-template-columns: 1.5fr 1fr;
    background-color: var(--lavender);
    gap: 20px;
    width:100%;
}

.balance {
    height: 200px;
    flex-grow: 1;
}

