@import "~plaid-threads/scss/variables";

.grid {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    margin: auto;
    background-color: var(--main-color);
    align-items: center;
    gap: 20px;

}

.title {
    font-family: "Pixelify Sans";
    font-size: 80px;
    font-weight: bold;
    color: var(--lilac);
    text-shadow:
        3px 3px 0px var(--outline3),
        6px 6px 0px var(--outline4),
        9px 9px 0px var(--outline2);

    margin-bottom: 0px;
    font-weight: 800;
    text-align: center;
    transition: transform 0.1s;

    &:hover {
            
            transform: translate(2px, 2px) scale(1.02);
        }


}

.linkButton {
    margin-top: 0;
    margin-bottom: 15vh;
    
    button {
        background-color: var(--pink5);
        font-family: "Pixelify Sans";
        color: var(--outline2);
        text-shadow:
            2px 2px 0px var(--shadow);

        font-size: 24px;
        font-weight: 800;
        padding: 16px 40px;
        border: 4px solid var(--outline);
        width: 300px;
        cursor: pointer;
        position: relative;
        
        // Retro 3D layered shadow effect
        box-shadow:
            4px 4px 0px var(--outline2),
            8px 8px 0px var(--outline3),
            12px 12px 0px var(--outline4);

        // Smooth transition for press effect
        transition: transform 0.1s, box-shadow 0.1s;

        &:hover {
            background-color: var(--pink3);
            box-shadow:
                2px 2px 0px var(--outline2),
                4px 4px 0px var(--outline3),
                6px 6px 0px var(--outline4);
            transform: translate(2px, 2px);
        }

        &:active {
            background-color: var(--pink4);
            box-shadow: none;
            transform: translate(12px, 12px);  // Pushes down fully on click
        }
    }
}





