


.transactionInfo {
    font-size: 2rem; /* smaller text */
    color: rgb(0, 0, 0);
    border-bottom: 1px solid var(--border-color);
    background-color: white;
    height: 75px;
    padding-left: 20px;

    display: flex;
    align-items: center;
    flex-grow: 1;

}


// main container 
.transactionContainer { 
    margin-left: 40px;
    margin-right: 20px;
    margin-top: 0px;
    background-color: var(--main-color);
    border-radius: 15px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    

    overflow: hidden; // makes sure the overflow of inner containers are hid by border-radius/rounding

    box-shadow: 0px 0px 5px 5px var( --shadow-color);

}

.transactionContainer:hover {
  transform: translateY(-2px) scale(1.005);
  //box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.25);
}

.dateContainer {
    height: 50px;
    border-bottom: 1px solid var(--border-color);
    padding-left: 20px;
    background-color: hsl(var(--main-h) var(--main-s) 99%);
    display: flex;
    align-items: center;
    color: gray;
    

}

.amount {
    text-align: right;
    padding-right: 20px;
    width:100%;
}

.name {
    text-align: left;
    padding-right: 20px;
    width:100%;
}


.title {
    font-size: 3rem; 
    height: 75px;
    padding-left: 40px;
    line-height: 75px;
    margin-top: 20px;
    font-family: "Inter";
    
    
}