


.transactionInfo {
    font-size: 2rem; /* smaller text */
    border-bottom: 1px dashed var(--brightpurple);
    background-color: var(--pink);
    height: 75px;
    padding-left: 20px;

    display: flex;
    align-items: center;
    flex-grow: 1;

}

.transactionInfo:hover {
    background: var(--pink2);
  
}

.transactionContainerShadow{
  display: inline-block;
  filter: drop-shadow(8px 8px 0 var(--outline));
  
  
  width: 100%;
}

.transactionContainerShadow:hover {
  transform: translateY(-2px) scale(1.005);
  //box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.25);
}

// main container 
.transactionContainer { 
    margin-left: 40px;
    margin-right: 20px;
    margin-top: 0px;
    
    //border-radius: 15px;
    transition: transform 0.2s ease, box-shadow 0.2s ease; //makes hover smooth
    

    

    --p: 6px;              /// pixel size for the rounded corners 
    background: var(--magenta); 
    
    padding: 5px 5px;
    border-right: 10px solid var(--lilac);
    border-bottom: 10px solid var(--lilac);
  
  /* rounded pixel corners via clip-path (stair-step) */
    clip-path: polygon(
        0 var(--p),
        var(--p) 0,
        calc(100% - var(--p)) 0,
        100% var(--p),
        100% calc(100% - var(--p)),
        calc(100% - var(--p)) 100%,
        var(--p) 100%,
        0 calc(100% - var(--p))
    );

    
}

.transactionContainer:hover {
  transform: translateY(-2px) scale(1.005);
  //box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.25);
}



.dateContainer {
    height: 50px;
    border-bottom: 1px dashed var(--brightpurple);
    padding-left: 20px;
    display: flex;
    align-items: center;
    color: var(--brightpurple);
    font-family: "Pixelify Sans";
    background-color: var(--pink2);
    

}

.amount {
    text-align: right;
    padding-right: 20px;
    width:100%;
    font-family: "VT323";
    font-size: 25px;
    font-stretch: expanded;
    color: var(--outline2);
    
}

.name {
    text-align: left;
    padding-right: 20px;
    width:100%;
    font-family: "Pixelify Sans";
    color: var(--outline);
}


.title {
    font-size: 3.5rem; 
    height: 75px;
    padding-left: 40px;
    line-height: 75px;
    margin-top: 20px;
    font-family: "Pixelify Sans";
    color: var(--outline2);
    text-shadow: 2px 3px 0 var(--shadow);
    
    
}

.scrollWrapper {
  max-height: 80vh; //vh means viewport height
  overflow-y: auto;
  
}

.scrollWrapper::-webkit-scrollbar {
  width: 14px;
}

.scrollWrapper::-webkit-scrollbar-track {
  background: var(--pink3);
  border: 3px solid var(--pink);
  //border-right: 3px solid var(--magenta);
  
}

.scrollWrapper::-webkit-scrollbar-thumb {
  background: var(--magenta);
  border: 3px solid var(--lavender);
}

.scrollWrapper::-webkit-scrollbar-thumb:hover {
  background: var(--magenta);
}


