$threads-font-path: "~plaid-threads/fonts";
@import "~plaid-threads/scss/typography";
@import "~plaid-threads/scss/variables";




* {
  box-sizing: border-box;
  
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    cursor: pointer; 
}

.App {
    height: 100vh;  // Use this instead
}




.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  //max-width: 120 * $unit;
  margin: 0 auto;
  width:100%;
  min-height: 100vh;
  background-color: var(--outline);
  
}

.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

